@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #171717;
  --font-micro5: 'Micro5', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
    --font-micro5: 'Micro5', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inner {
  background-color: black 
}

.inner .page{
  background-color: white;
}

.inner .slide{
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

h2 {
  font-family: 'Micro 5', sans-serif;
}

